.btn-bash-effect {
    position: relative;
}

.btn-bash-effect::after {
    content: '_';
    position: absolute;
    top: 50%;
    right: .5em;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity .2s ease-in-out;
    will-change: opacity;
}

.btn-bash-effect:hover::after {
    opacity: 1;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to { 
        opacity: 1;
    }
    50% { 
        opacity: 0;
    }
}
