   /* Small CSS to Hide elements at 1520px size */

html {
    scroll-behavior: smooth;
}

@media(max-width:1520px) {
    .left-svg {
        display: none;
    }
}

/* small css for the mobile nav close */
#nav-mobile-btn.close span:first-child {
    transform: rotate(45deg);
    top: 4px;
    position: relative;
    background: #a0aec0;
}

#nav-mobile-btn.close span:nth-child(2) {
    transform: rotate(-45deg);
    margin-top: 0px;
    background: #a0aec0;
}

.fire-particle {
    position: fixed;
    pointer-events: none;
    font-weight: bold;
    font-size: 1.2rem;
    animation: floatEffect 1.5s linear forwards;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

@keyframes floatEffect {
    to {
        opacity: 0;
        transform: translate(calc(-50% + var(--translateX)), calc(-50% + var(--translateY)));
    }
}

/* Css is same for both the html file index.html and training.html */